html {
    scroll-behavior: smooth; /* Merke - Smoothe Animation */
}

body {
    padding: 0;
    margin: 0;
    font-family: "Nunito", sans-serif;
}

.navbar {
    z-index: 2;
    margin: 0;
    position: absolute;
    width: 100%;
    background-color: rgb(24, 24, 24);
    justify-content: left;
    align-items: center; /* Merke - Vertikale Ausrichtung der Navbar Elemente */
    list-style-type: none;
    padding: 20px 20px;
    box-shadow: 0 1px 15px rgb(13, 13, 13);;
}

.navbar li {
    font-size: 15px;
    display: inline-block;
}

.navbar a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.535);
    padding: 10px 15px;
    transition: color 0.3s; 
}

.navbar a:hover {
    color: white; 
}



